<div class="grid grid--cols-12">

  <!-- Today Sidebar -->
  <div class="layout layout--col layout--stretch col--span-5">
    <div class="flex flex--col flex--left flex--top">
      <div class="label label--inverted p--2 flex flex--col flex--left stretch-x">
        <span class="value value--xsmall flex p--2 pb--0">{{ today.date }}</span>
        <span class="value p--2 pt--0 stretch-x">{{ today.day }}</span>
      </div>

      <div  data-list-limit="true" data-list-max-height="auto" data-list-hidden-count="true">
        {% for event in today.events %}
        <div class="item mb--4 mt--2">
          <div class="meta"></div>
          <div class="content pt--1 pb--1">
            <span class="value value--xxsmall">
              {% if event.fullday == "false" %}
              {{ event.start }} <br>
              {% endif %}
            </span>
            <span class="value value--small">
              {{ event.title }}
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="flex flex--row flex--left flex--bottom">
      <div>
        <span class="value value--small flex flex--left flex--center gap--small"><img class="w--9" src="https://zoltan.co/rpi-dash/images/weather/{{ weather.current.weather_code }}.svg"> {{ weather.current.temperature_2m }}&deg;</span>
      </div>
      <div class="stretch"></div>
      <div class="text--right pb--1">
        <span class="title title--small">Min: {{ weather.daily.temperature_2m_min[0] }}&deg;</span>
        <span class="title title--small">Max: {{ weather.daily.temperature_2m_max[0] }}&deg;</span>
      </div>
    </div>
  </div>

  <!-- Schedule -->
  <div class="layout layout--col layout--top col--span-7 border--v-4 pl--3 flex flex--left">

    <div class="layout layout--col layout--top flex flex--left" data-list-limit="true" data-list-max-height="auto" data-list-hidden-count="true">
      {% for day in schedule %}
      <div class="flex flex--col flex--left mb--2">
        <div class="item">
          <div class="content">
            <div class="flex flex--center">
              <span class="label label--inverted p--1 pb--0.5">&nbsp;{{ day.niceDate }}&nbsp;</span>
              <span class="label p--1 flex flex--center gap--small"><img class="w--5" src="{{ day.forecast_icon }}"> {{ day.forecast }}</span>
            </div>
          </div>
        </div>
        {% for event in day.events %}
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="title clamp--1">
              {% if event.fullday == "false" %}
              {{ event.start }} &ndash;
              {% endif %}
              {{ event.title }} </span>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="stretch"></div>
    <div class="flex flex--row flex--center-y">
      <div class="label label--inverted bg--black p--0.5 flex flex--col">
        <div class="bg--black h--0.5 text--black">.</div>
        <span class="value value--small text--black bg--white pl--2 pr--2 text--center">{{ countdown.days_remaining }}</span>
      </div>
      <span class="title content pt--3">{{ countdown.title }}</span>
    </div>
  </div>

</div>